/* VSS-CSS Virsion 0.1  */

/* main font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
/* font-family: "Cairo", sans-serif; */

/* variables */
:root{
    /* colors variables */
    --blue:#3498db;
    --dark-gray: #2c3e50;
    --light-gray:#ecf0f1;
    --white: #ffffff;
    --black: #000000;
    --red: #e74c3c;
    --green:#27ae60;
    --orange:#e67e22;
}

/* main style */
*{
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* flex system */
.flex{
    display: flex;
}
.f-row{
    flex-direction: row;
}
.f-row-reverse{
    flex-direction: row-reverse;
}
.f-col{
    flex-direction: column;
}
.f-col-reverse{
    flex-direction: column-reverse;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justifiy-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.gap-4{
    gap: 4rem;
}
.gap-5{
    gap: 5rem;
}
.gap-6{
    gap: 6rem;
}
.gap-7{
    gap: 7rem;
}
.gap-8{
    gap: 8rem;
}
.gap-9{
    gap: 9rem;
}
.gap-10{
    gap: 10rem;
}
.f-grow{
    flex-grow: 1;
}

/* box sizing */

/* padding */
.p-0{
    padding: 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.p-4{
    padding: 4rem;
}
.p-5{
    padding: 5rem;
}
.p-6{
    padding: 6rem;
}
.p-7{
    padding: 7rem;
}
.p-8{
    padding: 8rem;
}
.p-9{
    padding: 9rem;
}
.p-10{
    padding: 10rem;
}
/* padding  right */
.p-r-0{
    padding-right: 0;
}
.p-r-1{
    padding-right: 1rem;
}
.p-r-2{
    padding-right: 2rem;
}
.p-r-3{
    padding-right: 3rem;
}
.p-r-4{
    padding-right: 4rem;
}
.p-r-5{
    padding-right: 5rem;
}
.p-r-6{
    padding-right: 6rem;
}
.p-r-7{
    padding-right: 7rem;
}
.p-r-8{
    padding-right: 8rem;
}
.p-r-9{
    padding-right: 9rem;
}
.p-r-10{
    padding-right: 10rem;
}
/* padding left */
.p-l-0{
    padding-left: 0;
}
.p-l-1{
    padding-left: 1rem;
}
.p-l-2{
    padding-left: 2rem;
}
.p-l-3{
    padding-left: 3rem;
}
.p-l-4{
    padding-left: 4rem;
}
.p-l-5{
    padding-left: 5rem;
}
.p-l-6{
    padding-left: 6rem;
}
.p-l-7{
    padding-left: 7rem;
}
.p-l-8{
    padding-left: 8rem;
}
.p-l-9{
    padding-left: 9rem;
}
.p-l-10{
    padding-left: 10rem;
}
/* padding top */
.p-t-0{
    padding-top: 0;
}
.p-t-1{
    padding-top: 1rem;
}
.p-t-2{
    padding-top: 2rem;
}
.p-t-3{
    padding-top: 3rem;
}
.p-t-4{
    padding-top: 4rem;
}
.p-t-5{
    padding-top: 5rem;
}
.p-t-6{
    padding-top: 6rem;
}
.p-t-7{
    padding-top: 7rem;
}
.p-t-8{
    padding-top: 8rem;
}
.p-t-9{
    padding-top: 9rem;
}
.p-t-10{
    padding-top: 10rem;
}
/* padding bottom */
.p-b-0{
    padding-bottom: 0;
}
.p-b-1{
    padding-bottom: 1rem;
}
.p-b-2{
    padding-bottom: 2rem;
}
.p-b-3{
    padding-bottom: 3rem;
}
.p-b-4{
    padding-bottom: 4rem;
}
.p-b-5{
    padding-bottom: 5rem;
}
.p-b-6{
    padding-bottom: 6rem;
}
.p-b-7{
    padding-bottom: 7rem;
}
.p-b-8{
    padding-bottom: 8rem;
}
.p-b-9{
    padding-bottom: 9rem;
}
.p-b-10{
    padding-bottom: 10rem;
}
/* margin */
.m-0{
    margin: 0;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.m-3{
    margin: 3rem;
}
.m-4{
    margin: 4rem;
}
.m-5{
    margin: 5rem;
}
.m-6{
    margin: 6rem;
}
.m-7{
    margin: 7rem;
}
.m-8{
    margin: 8rem;
}
.m-9{
    margin: 9rem;
}
.m-10{
    margin: 10rem;
}
/* margin right */
.m-r-0{
    margin-right: 0;
}
.m-r-1{
    margin-right: 1rem;
}
.m-r-2{
    margin-right: 2rem;
}
.m-r-3{
    margin-right: 3rem;
}
.m-r-4{
    margin-right: 4rem;
}
.m-r-5{
    margin-right: 5rem;
}
.m-r-6{
    margin-right: 6rem;
}
.m-r-7{
    margin-right: 7rem;
}
.m-r-8{
    margin-right: 8rem;
}
.m-r-9{
    margin-right: 9rem;
}
.m-r-10{
    margin-right: 10rem;
}
/* margin left */
.m-l-0{
    margin-left: 0;
}
.m-l-1{
    margin-left: 1rem;
}
.m-l-2{
    margin-left: 2rem;
}
.m-l-3{
    margin-left: 3rem;
}
.m-l-4{
    margin-left: 4rem;
}
.m-l-5{
    margin-left: 5rem;
}
.m-l-6{
    margin-left: 6rem;
}
.m-l-7{
    margin-left: 7rem;
}
.m-l-8{
    margin-left: 8rem;
}
.m-l-9{
    margin-left: 9rem;
}
.m-l-10{
    margin-left: 10rem;
}
/* margin top */
.m-t-0{
    margin-top: 0;
}
.m-t-1{
    margin-top: 1rem;
}
.m-t-2{
    margin-top: 2rem;
}
.m-t-3{
    margin-top: 3rem;
}
.m-t-4{
    margin-top: 4rem;
}
.m-t-5{
    margin-top: 5rem;
}
.m-t-6{
    margin-top: 6rem;
}
.m-t-7{
    margin-top: 7rem;
}
.m-t-8{
    margin-top: 8rem;
}
.m-t-9{
    margin-top: 9rem;
}
.m-t-10{
    margin-top: 10rem;
}
/* margin bottom */
.m-b-0{
    margin-bottom: 0;
}
.m-b-1{
    margin-bottom: 1rem;
}
.m-b-2{
    margin-bottom: 2rem;
}
.m-b-3{
    margin-bottom: 3rem;
}
.m-b-4{
    margin-bottom: 4rem;
}
.m-b-5{
    margin-bottom: 5rem;
}
.m-b-6{
    margin-bottom: 6rem;
}
.m-b-7{
    margin-bottom: 7rem;
}
.m-b-8{
    margin-bottom: 8rem;
}
.m-b-9{
    margin-bottom: 9rem;
}
.m-b-10{
    margin-bottom: 10rem;
}

/* width && height */
.w-0{
    width: 0;
}
.w-1{
    width: 1rem;
}
.w-2{
    width: 2rem;
}
.w-3{
    width: 3rem;
}
.w-4{
    width: 4rem;
}
.w-5{
    width: 5rem;
}
.w-6{
    width: 6rem;
}
.w-7{
    width: 7rem;
}
.w-8{
    width: 8rem;
}
.w-9{
    width: 9rem;
}
.w-10{
    width: 10rem;
}
.w-full{
    width:100%;
}
/* height */
.h-0{
    height: 0;
}
.h-1{
    height: 1rem;
}
.h-2{
    height: 2rem;
}
.h-3{
    height: 3rem;
}
.h-4{
    height: 4rem;
}
.h-5{
    height: 5rem;
}
.h-6{
    height: 6rem;
}
.h-7{
    height: 7rem;
}
.h-8{
    height: 8rem;
}
.h-9{
    height: 9rem;
}
.h-10{
    height: 10rem;
}
.h-100vh{
    height:100%;
}
.h-100{
    height:100%;
}
/* text style */
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
/* font size */
.fs-0{
    font-size: 0;
}
.fs-1{
    font-size: 1rem;
}
.fs-2{
    font-size: 2rem;
}
.fs-3{
    font-size: 3rem;
}
.fs-4{
    font-size: 4rem;
}
.fs-5{
    font-size: 5rem;
}
.fs-6{
    font-size: 6rem;
}
.fs-7{
    font-size: 7rem;
}
.fs-8{
    font-size: 8rem;
}
.fs-9{
    font-size: 9rem;
}
.fs-10{
    font-size: 10rem;
}
.fs-a{
    font-size: 20px;
}
/* font weight */
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
/* font style */
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
/* text decoration */
.underline{
    text-decoration: underline;
}
.through{
    text-decoration: line-through;
}
.no-line{
    text-decoration: none;
}
/* colors */
.bg-blue{
    background-color: var(--blue);
}
.bg-dark-gray{
    background-color: var(--dark-gray);
}
.bg-light-gray{
    background-color: var(--light-gray);
}
.bg-white{
    background-color: var(--white);
}
.bg-black{
    background-color: var(--black);
}
.bg-red{
    background-color: var(--red);
}
.bg-green{
    background-color: var(--green);
}
.bg-orange{
    background-color: var(--orange);
}
/* text colors */
.blue{
    color: var(--blue);
}
.dark-gray{
    color: var(--dark-gray);
}
.light-gray{
    color: var(--light-gray);
}
.white{
    color: var(--white);
}
.black{
    color: var(--black);
}
.red{
    color: var(--red);
}
.green{
    color: var(--green);
}
.orange{
    color: var(--orange);
}

/* responsive view */
@media  screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }
}